<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>ngx-gallery</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
	      <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top visible-xs">
            <a href="../" class="navbar-brand">ngx-gallery</a>
            <button type="button" class="btn btn-default btn-menu ion-ios-menu" id="btn-menu"></button>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
                <div id="book-search-input" role="search"><input type="text" placeholder="Type to search"></div>            <compodoc-menu></compodoc-menu>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="hidden-xs menu">
                   <compodoc-menu mode="normal"></compodoc-menu>
               </div>
               <!-- START CONTENT -->
               <div class="content component">
                   <div class="content-data">




<ol class="breadcrumb">
  <li>Components</li>
  <li>NgxGalleryArrowsComponent</li>
</ol>

<ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#info" role="tab" id="info-tab" data-toggle="tab" data-link="info">Info</a>
        </li>
        <li >
            <a href="#source" role="tab" id="source-tab" data-toggle="tab" data-link="source">Source</a>
        </li>
        <li >
            <a href="#styleData" role="tab" id="styleData-tab" data-toggle="tab" data-link="style">Styles</a>
        </li>
        <li >
            <a href="#tree" role="tab" id="tree-tab" data-toggle="tab" data-link="dom-tree">DOM Tree</a>
        </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="c-info"><p class="comment">
    <h3>File</h3>
</p>
<p class="comment">
    <code>src/ngx-gallery-arrows.component.ts</code>
</p>





<section>
    <h3>Metadata</h3>
    <table class="table table-sm table-hover">
        <tbody>











            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>ngx-gallery-arrows</code></td>
            </tr>

            <tr>
                <td class="col-md-3">styleUrls</td>
                <td class="col-md-9"><code>./ngx-gallery-arrows.component.scss</code></td>
            </tr>


            <tr>
                <td class="col-md-3">template</td>
                <td class="col-md-9"><pre class="line-numbers"><code class="language-html">&lt;div class&#x3D;&quot;ngx-gallery-arrow-wrapper ngx-gallery-arrow-left&quot;&gt;
    &lt;div class&#x3D;&quot;ngx-gallery-icon ngx-gallery-arrow&quot; aria-hidden&#x3D;&quot;true&quot; (click)&#x3D;&quot;handlePrevClick()&quot; [class.ngx-gallery-disabled]&#x3D;&quot;prevDisabled&quot;&gt;
        &lt;i class&#x3D;&quot;ngx-gallery-icon-content {{arrowPrevIcon}}&quot;&gt;&lt;/i&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;div class&#x3D;&quot;ngx-gallery-arrow-wrapper ngx-gallery-arrow-right&quot;&gt;
    &lt;div class&#x3D;&quot;ngx-gallery-icon ngx-gallery-arrow&quot; aria-hidden&#x3D;&quot;true&quot; (click)&#x3D;&quot;handleNextClick()&quot; [class.ngx-gallery-disabled]&#x3D;&quot;nextDisabled&quot;&gt;
        &lt;i class&#x3D;&quot;ngx-gallery-icon-content {{arrowNextIcon}}&quot;&gt;&lt;/i&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code></pre></td>
            </tr>









        </tbody>
    </table>
</section>

    <section>
    <h3 id="index">Index</h3>
    <table class="table table-sm table-bordered index-table">
        <tbody>

                <tr>
                    <td class="col-md-4">
                        <h6><b>Methods</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#handleNextClick">handleNextClick</a>
                            </li>
                            <li>
                                <a href="#handlePrevClick">handlePrevClick</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td class="col-md-4">
                        <h6><b>Inputs</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#arrowNextIcon">arrowNextIcon</a>
                            </li>
                            <li>
                                <a href="#arrowPrevIcon">arrowPrevIcon</a>
                            </li>
                            <li>
                                <a href="#nextDisabled">nextDisabled</a>
                            </li>
                            <li>
                                <a href="#prevDisabled">prevDisabled</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td class="col-md-4">
                        <h6><b>Outputs</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#onNextClick">onNextClick</a>
                            </li>
                            <li>
                                <a href="#onPrevClick">onPrevClick</a>
                            </li>
                        </ul>
                    </td>
                </tr>



        </tbody>
    </table>
</section>


    <section>
    <h3 id="inputs">Inputs</h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="arrowNextIcon"></a>
                        <b>arrowNextIcon</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>    <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/string" target="_blank" >string</a></code>

                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Defined in <a href="" data-line="23" class="link-to-prism">src/ngx-gallery-arrows.component.ts:23</a></div>
                            </td>
                        </tr>
            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="arrowPrevIcon"></a>
                        <b>arrowPrevIcon</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>    <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/string" target="_blank" >string</a></code>

                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Defined in <a href="" data-line="22" class="link-to-prism">src/ngx-gallery-arrows.component.ts:22</a></div>
                            </td>
                        </tr>
            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="nextDisabled"></a>
                        <b>nextDisabled</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>    <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/boolean" target="_blank" >boolean</a></code>

                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Defined in <a href="" data-line="21" class="link-to-prism">src/ngx-gallery-arrows.component.ts:21</a></div>
                            </td>
                        </tr>
            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="prevDisabled"></a>
                        <b>prevDisabled</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>    <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/boolean" target="_blank" >boolean</a></code>

                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Defined in <a href="" data-line="20" class="link-to-prism">src/ngx-gallery-arrows.component.ts:20</a></div>
                            </td>
                        </tr>
            </tbody>
        </table>
</section>
    <section>
    <h3 id="outputs">Outputs</h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="onNextClick"></a>
                        <b>onNextClick</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>    <code><a href="https://angular.io/api/core/EventEmitter" target="_blank" >EventEmitter</a></code>

                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Defined in <a href="" data-line="26" class="link-to-prism">src/ngx-gallery-arrows.component.ts:26</a></div>
                            </td>
                        </tr>
            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="onPrevClick"></a>
                        <b>onPrevClick</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>    <code><a href="https://angular.io/api/core/EventEmitter" target="_blank" >EventEmitter</a></code>

                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Defined in <a href="" data-line="25" class="link-to-prism">src/ngx-gallery-arrows.component.ts:25</a></div>
                            </td>
                        </tr>
            </tbody>
        </table>
</section>


    <section>
    
        <h3 id="methods">
            Methods
        </h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="handleNextClick"></a>
                        <span class="name">
                            <b>
                            handleNextClick
                            </b>
                            <a href="#handleNextClick"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
<code>handleNextClick()</code>
                    </td>
                </tr>


                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="32" class="link-to-prism">src/ngx-gallery-arrows.component.ts:32</a></div>
                            </td>
                        </tr>


                <tr>
                    <td class="col-md-4">

                            <div class="io-description">
                                <b>Returns : </b>    <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                            </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="handlePrevClick"></a>
                        <span class="name">
                            <b>
                            handlePrevClick
                            </b>
                            <a href="#handlePrevClick"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
<code>handlePrevClick()</code>
                    </td>
                </tr>


                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="28" class="link-to-prism">src/ngx-gallery-arrows.component.ts:28</a></div>
                            </td>
                        </tr>


                <tr>
                    <td class="col-md-4">

                            <div class="io-description">
                                <b>Returns : </b>    <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                            </div>
                    </td>
                </tr>
            </tbody>
        </table>
</section>


</div>


    <div class="tab-pane fade  tab-source-code" id="c-source">
        <pre class="line-numbers compodoc-sourcecode"><code class="language-typescript">import { Component, Input, Output, EventEmitter, } from &#x27;@angular/core&#x27;;

@Component({
    selector: &#x27;ngx-gallery-arrows&#x27;,
    template: &#x60;
        &lt;div class&#x3D;&quot;ngx-gallery-arrow-wrapper ngx-gallery-arrow-left&quot;&gt;
            &lt;div class&#x3D;&quot;ngx-gallery-icon ngx-gallery-arrow&quot; aria-hidden&#x3D;&quot;true&quot; (click)&#x3D;&quot;handlePrevClick()&quot; [class.ngx-gallery-disabled]&#x3D;&quot;prevDisabled&quot;&gt;
                &lt;i class&#x3D;&quot;ngx-gallery-icon-content {{arrowPrevIcon}}&quot;&gt;&lt;/i&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class&#x3D;&quot;ngx-gallery-arrow-wrapper ngx-gallery-arrow-right&quot;&gt;
            &lt;div class&#x3D;&quot;ngx-gallery-icon ngx-gallery-arrow&quot; aria-hidden&#x3D;&quot;true&quot; (click)&#x3D;&quot;handleNextClick()&quot; [class.ngx-gallery-disabled]&#x3D;&quot;nextDisabled&quot;&gt;
                &lt;i class&#x3D;&quot;ngx-gallery-icon-content {{arrowNextIcon}}&quot;&gt;&lt;/i&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &#x60;,
    styleUrls: [&#x27;./ngx-gallery-arrows.component.scss&#x27;]
})
export class NgxGalleryArrowsComponent {
    @Input() prevDisabled: boolean;
    @Input() nextDisabled: boolean;
    @Input() arrowPrevIcon: string;
    @Input() arrowNextIcon: string;

    @Output() onPrevClick &#x3D; new EventEmitter();
    @Output() onNextClick &#x3D; new EventEmitter();

    handlePrevClick(): void {
        this.onPrevClick.emit();
    }

    handleNextClick(): void {
        this.onNextClick.emit();
    }
}
</code></pre>
    </div>


    <div class="tab-pane fade " id="c-styleData">
                <p class="comment">
                    <code>./ngx-gallery-arrows.component.scss</code>
                </p>
                <pre class="line-numbers"><code class="language-scss">.ngx-gallery-arrow-wrapper {
    position: absolute;
    height: 100%;
    width: 1px;
    display: table;
    z-index: 2000;
    table-layout: fixed;
}

.ngx-gallery-arrow-left {
    left: 0px;
}

.ngx-gallery-arrow-right {
    right: 0px;
}

.ngx-gallery-arrow {
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

    &amp;.ngx-gallery-disabled {
        opacity: 0.6;
        cursor: default;
    }
}

.ngx-gallery-arrow-left {
    .ngx-gallery-arrow {
        left: 10px;
    }
}

.ngx-gallery-arrow-right {
    .ngx-gallery-arrow {
        right: 10px;
    }
}
</code></pre>
    </div>

    <div class="tab-pane fade " id="c-tree">
        <div id="tree-container"></div>
        <div class="tree-legend">
            <div class="title">
                <b>Legend</b>
            </div>
            <div>
                <div class="color htmlelement"></div><span>Html element</span>
            </div>
            <div>
                <div class="color component"></div><span>Component</span>
            </div>
            <div>
                <div class="color directive"></div><span>Html element with directive</span>
            </div>
        </div>
    </div>

    
</div>

<script src="../js/libs/vis.min.js"></script>
<script src="../js/libs/htmlparser.js"></script>
<script src="../js/libs/deep-iterator.js"></script>
<script>
        var COMPONENT_TEMPLATE = '<div><div class="ngx-gallery-arrow-wrapper ngx-gallery-arrow-left">    <div class="ngx-gallery-icon ngx-gallery-arrow" aria-hidden="true" (click)="handlePrevClick()" [class.ngx-gallery-disabled]="prevDisabled">        <i class="ngx-gallery-icon-content {{arrowPrevIcon}}"></i>    </div></div><div class="ngx-gallery-arrow-wrapper ngx-gallery-arrow-right">    <div class="ngx-gallery-icon ngx-gallery-arrow" aria-hidden="true" (click)="handleNextClick()" [class.ngx-gallery-disabled]="nextDisabled">        <i class="ngx-gallery-icon-content {{arrowNextIcon}}"></i>    </div></div></div>'
    var COMPONENTS = [{'name': 'NgxGalleryActionComponent', 'selector': 'ngx-gallery-action'},{'name': 'NgxGalleryArrowsComponent', 'selector': 'ngx-gallery-arrows'},{'name': 'NgxGalleryBulletsComponent', 'selector': 'ngx-gallery-bullets'},{'name': 'NgxGalleryComponent', 'selector': 'ngx-gallery'},{'name': 'NgxGalleryImageComponent', 'selector': 'ngx-gallery-image'},{'name': 'NgxGalleryPreviewComponent', 'selector': 'ngx-gallery-preview'},{'name': 'NgxGalleryThumbnailsComponent', 'selector': 'ngx-gallery-thumbnails'}];
    var DIRECTIVES = [];
    var ACTUAL_COMPONENT = {'name': 'NgxGalleryArrowsComponent'};
</script>
<script src="../js/tree.js"></script>














                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> result-matching "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">No results matching "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
               <!-- END CONTENT -->
           </div>
       </div>

       <script>
            var COMPODOC_CURRENT_PAGE_DEPTH = 1;
            var COMPODOC_CURRENT_PAGE_CONTEXT = 'component';
            var COMPODOC_CURRENT_PAGE_URL = 'NgxGalleryArrowsComponent.html';
       </script>

       <script src="../js/libs/custom-elements.min.js"></script>
       <script src="../js/libs/lit-html.js"></script>
       <!-- Required to polyfill modern browsers as code is ES5 for IE... -->
       <script src="../js/libs/custom-elements-es5-adapter.js" charset="utf-8" defer></script>
       <script src="../js/menu-wc.js" defer></script>

       <script src="../js/libs/bootstrap-native.js"></script>

       <script src="../js/libs/es6-shim.min.js"></script>
       <script src="../js/libs/EventDispatcher.js"></script>
       <script src="../js/libs/promise.min.js"></script>
       <script src="../js/libs/zepto.min.js"></script>

       <script src="../js/compodoc.js"></script>

       <script src="../js/tabs.js"></script>
       <script src="../js/menu.js"></script>
       <script src="../js/libs/clipboard.min.js"></script>
       <script src="../js/libs/prism.js"></script>
       <script src="../js/sourceCode.js"></script>
          <script src="../js/search/search.js"></script>
          <script src="../js/search/lunr.min.js"></script>
          <script src="../js/search/search-lunr.js"></script>
          <script src="../js/search/search_index.js"></script>
       <script src="../js/lazy-load-graphs.js"></script>


    </body>
</html>
