<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>ngx-gallery</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
	      <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top visible-xs">
            <a href="../" class="navbar-brand">ngx-gallery</a>
            <button type="button" class="btn btn-default btn-menu ion-ios-menu" id="btn-menu"></button>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
                <div id="book-search-input" role="search"><input type="text" placeholder="Type to search"></div>            <compodoc-menu></compodoc-menu>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="hidden-xs menu">
                   <compodoc-menu mode="normal"></compodoc-menu>
               </div>
               <!-- START CONTENT -->
               <div class="content component">
                   <div class="content-data">




<ol class="breadcrumb">
  <li>Components</li>
  <li>NgxGalleryImageComponent</li>
</ol>

<ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#info" role="tab" id="info-tab" data-toggle="tab" data-link="info">Info</a>
        </li>
        <li >
            <a href="#source" role="tab" id="source-tab" data-toggle="tab" data-link="source">Source</a>
        </li>
        <li >
            <a href="#styleData" role="tab" id="styleData-tab" data-toggle="tab" data-link="style">Styles</a>
        </li>
        <li >
            <a href="#tree" role="tab" id="tree-tab" data-toggle="tab" data-link="dom-tree">DOM Tree</a>
        </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="c-info"><p class="comment">
    <h3>File</h3>
</p>
<p class="comment">
    <code>src/ngx-gallery-image.component.ts</code>
</p>



    <p class="comment">
        <h3>Implements</h3>
    </p>
    <p class="comment">
                <code><a href="https://angular.io/api/core/OnInit" target="_blank" >OnInit</a></code>
                <code><a href="https://angular.io/api/core/OnChanges" target="_blank" >OnChanges</a></code>
    </p>


<section>
    <h3>Metadata</h3>
    <table class="table table-sm table-hover">
        <tbody>











            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>ngx-gallery-image</code></td>
            </tr>

            <tr>
                <td class="col-md-3">styleUrls</td>
                <td class="col-md-9"><code>./ngx-gallery-image.component.scss</code></td>
            </tr>


            <tr>
                <td class="col-md-3">template</td>
                <td class="col-md-9"><pre class="line-numbers"><code class="language-html">&lt;div class&#x3D;&quot;ngx-gallery-image-wrapper ngx-gallery-animation-{{animation}} ngx-gallery-image-size-{{size}}&quot;&gt;
    &lt;div class&#x3D;&quot;ngx-gallery-image&quot; *ngFor&#x3D;&quot;let image of getImages(); let i &#x3D; index;&quot; [ngClass]&#x3D;&quot;{ &#x27;ngx-gallery-active&#x27;: selectedIndex &#x3D;&#x3D; image.index, &#x27;ngx-gallery-inactive-left&#x27;: selectedIndex &gt; image.index, &#x27;ngx-gallery-inactive-right&#x27;: selectedIndex &lt; image.index, &#x27;ngx-gallery-clickable&#x27;: clickable }&quot; [style.background-image]&#x3D;&quot;getSafeUrl(image.src)&quot; (click)&#x3D;&quot;handleClick($event, image.index)&quot;&gt;
        &lt;div class&#x3D;&quot;ngx-gallery-icons-wrapper&quot;&gt;
            &lt;ngx-gallery-action *ngFor&#x3D;&quot;let action of actions&quot; [icon]&#x3D;&quot;action.icon&quot; [disabled]&#x3D;&quot;action.disabled&quot; [titleText]&#x3D;&quot;action.titleText&quot; (onClick)&#x3D;&quot;action.onClick($event, image.index)&quot;&gt;&lt;/ngx-gallery-action&gt;
        &lt;/div&gt;
        &lt;div class&#x3D;&quot;ngx-gallery-image-text&quot; *ngIf&#x3D;&quot;showDescription &amp;&amp; descriptions[image.index]&quot; [innerHTML]&#x3D;&quot;descriptions[image.index]&quot; (click)&#x3D;&quot;$event.stopPropagation()&quot;&gt;&lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;ngx-gallery-bullets *ngIf&#x3D;&quot;bullets&quot; [count]&#x3D;&quot;images.length&quot; [active]&#x3D;&quot;selectedIndex&quot; (onChange)&#x3D;&quot;show($event)&quot;&gt;&lt;/ngx-gallery-bullets&gt;
&lt;ngx-gallery-arrows class&#x3D;&quot;ngx-gallery-image-size-{{size}}&quot; *ngIf&#x3D;&quot;arrows&quot; (onPrevClick)&#x3D;&quot;showPrev()&quot; (onNextClick)&#x3D;&quot;showNext()&quot; [prevDisabled]&#x3D;&quot;!canShowPrev()&quot; [nextDisabled]&#x3D;&quot;!canShowNext()&quot; [arrowPrevIcon]&#x3D;&quot;arrowPrevIcon&quot; [arrowNextIcon]&#x3D;&quot;arrowNextIcon&quot;&gt;&lt;/ngx-gallery-arrows&gt;
</code></pre></td>
            </tr>









        </tbody>
    </table>
</section>

    <section>
    <h3 id="index">Index</h3>
    <table class="table table-sm table-bordered index-table">
        <tbody>
                <tr>
                    <td class="col-md-4">
                        <h6><b>Properties</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#canChangeImage">canChangeImage</a>
                            </li>
                            <li>
                                    <span class="modifier">Private</span>
                                <a href="#timer">timer</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td class="col-md-4">
                        <h6><b>Methods</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#canShowNext">canShowNext</a>
                            </li>
                            <li>
                                <a href="#canShowPrev">canShowPrev</a>
                            </li>
                            <li>
                                <a href="#getImages">getImages</a>
                            </li>
                            <li>
                                <a href="#getSafeUrl">getSafeUrl</a>
                            </li>
                            <li>
                                <a href="#handleClick">handleClick</a>
                            </li>
                            <li>
                                <a href="#ngOnChanges">ngOnChanges</a>
                            </li>
                            <li>
                                <a href="#ngOnInit">ngOnInit</a>
                            </li>
                            <li>
                                <a href="#reset">reset</a>
                            </li>
                            <li>
                                <a href="#setChangeTimeout">setChangeTimeout</a>
                            </li>
                            <li>
                                <a href="#show">show</a>
                            </li>
                            <li>
                                <a href="#showNext">showNext</a>
                            </li>
                            <li>
                                <a href="#showPrev">showPrev</a>
                            </li>
                            <li>
                                <a href="#startAutoPlay">startAutoPlay</a>
                            </li>
                            <li>
                                <a href="#stopAutoPlay">stopAutoPlay</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td class="col-md-4">
                        <h6><b>Inputs</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#actions">actions</a>
                            </li>
                            <li>
                                <a href="#animation">animation</a>
                            </li>
                            <li>
                                <a href="#arrowNextIcon">arrowNextIcon</a>
                            </li>
                            <li>
                                <a href="#arrowPrevIcon">arrowPrevIcon</a>
                            </li>
                            <li>
                                <a href="#arrows">arrows</a>
                            </li>
                            <li>
                                <a href="#arrowsAutoHide">arrowsAutoHide</a>
                            </li>
                            <li>
                                <a href="#autoPlay">autoPlay</a>
                            </li>
                            <li>
                                <a href="#autoPlayInterval">autoPlayInterval</a>
                            </li>
                            <li>
                                <a href="#autoPlayPauseOnHover">autoPlayPauseOnHover</a>
                            </li>
                            <li>
                                <a href="#bullets">bullets</a>
                            </li>
                            <li>
                                <a href="#clickable">clickable</a>
                            </li>
                            <li>
                                <a href="#descriptions">descriptions</a>
                            </li>
                            <li>
                                <a href="#images">images</a>
                            </li>
                            <li>
                                <a href="#infinityMove">infinityMove</a>
                            </li>
                            <li>
                                <a href="#lazyLoading">lazyLoading</a>
                            </li>
                            <li>
                                <a href="#selectedIndex">selectedIndex</a>
                            </li>
                            <li>
                                <a href="#showDescription">showDescription</a>
                            </li>
                            <li>
                                <a href="#size">size</a>
                            </li>
                            <li>
                                <a href="#swipe">swipe</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td class="col-md-4">
                        <h6><b>Outputs</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#onActiveChange">onActiveChange</a>
                            </li>
                            <li>
                                <a href="#onClick">onClick</a>
                            </li>
                        </ul>
                    </td>
                </tr>


                <tr>
                    <td class="col-md-4">
                        <h6><b>HostListeners</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#mouseenter">mouseenter</a>
                            </li>
                            <li>
                                <a href="#mouseleave">mouseleave</a>
                            </li>
                        </ul>
                    </td>
                </tr>

        </tbody>
    </table>
</section>

    <section>
    <h3 id="constructor">Constructor</h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
<code>constructor(sanitization: <a href="https://angular.io/api/platform-browser/DomSanitizer" target="_blank">DomSanitizer</a>, elementRef: <a href="https://angular.io/api/core/ElementRef" target="_blank">ElementRef</a>, helperService: <a href="../injectables/NgxGalleryHelperService.html">NgxGalleryHelperService</a>)</code>
                    </td>
                </tr>
                        <tr>
                            <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="51" class="link-to-prism">src/ngx-gallery-image.component.ts:51</a></div>
                            </td>
                        </tr>

                <tr>
                    <td class="col-md-4">
                            <div>
                                    <b>Parameters :</b>
                                    <table class="params">
                                        <thead>
                                            <tr>
                                                <td>Name</td>
                                                    <td>Type</td>
                                                <td>Optional</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                <tr>
                                                        <td>sanitization</td>
                                                  
                                                        <td>
                                                                    <code><a href="https://angular.io/api/platform-browser/DomSanitizer" target="_blank" >DomSanitizer</a></code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                                <tr>
                                                        <td>elementRef</td>
                                                  
                                                        <td>
                                                                    <code><a href="https://angular.io/api/core/ElementRef" target="_blank" >ElementRef</a></code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                                <tr>
                                                        <td>helperService</td>
                                                  
                                                        <td>
                                                                    <code><a href="../injectables/NgxGalleryHelperService.html" target="_self" >NgxGalleryHelperService</a></code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                        </tbody>
                                    </table>
                            </div>
                    </td>
                </tr>
            </tbody>
        </table>
</section>

    <section>
    <h3 id="inputs">Inputs</h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="actions"></a>
                        <b>actions</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>    <code><a href="../classes/NgxGalleryAction.html" target="_self" >NgxGalleryAction[]</a></code>

                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Defined in <a href="" data-line="41" class="link-to-prism">src/ngx-gallery-image.component.ts:41</a></div>
                            </td>
                        </tr>
            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="animation"></a>
                        <b>animation</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>    <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/string" target="_blank" >string</a></code>

                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Defined in <a href="" data-line="32" class="link-to-prism">src/ngx-gallery-image.component.ts:32</a></div>
                            </td>
                        </tr>
            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="arrowNextIcon"></a>
                        <b>arrowNextIcon</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>    <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/string" target="_blank" >string</a></code>

                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Defined in <a href="" data-line="35" class="link-to-prism">src/ngx-gallery-image.component.ts:35</a></div>
                            </td>
                        </tr>
            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="arrowPrevIcon"></a>
                        <b>arrowPrevIcon</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>    <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/string" target="_blank" >string</a></code>

                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Defined in <a href="" data-line="34" class="link-to-prism">src/ngx-gallery-image.component.ts:34</a></div>
                            </td>
                        </tr>
            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="arrows"></a>
                        <b>arrows</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>    <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/boolean" target="_blank" >boolean</a></code>

                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Defined in <a href="" data-line="29" class="link-to-prism">src/ngx-gallery-image.component.ts:29</a></div>
                            </td>
                        </tr>
            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="arrowsAutoHide"></a>
                        <b>arrowsAutoHide</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>    <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/boolean" target="_blank" >boolean</a></code>

                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Defined in <a href="" data-line="30" class="link-to-prism">src/ngx-gallery-image.component.ts:30</a></div>
                            </td>
                        </tr>
            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="autoPlay"></a>
                        <b>autoPlay</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>    <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/boolean" target="_blank" >boolean</a></code>

                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Defined in <a href="" data-line="36" class="link-to-prism">src/ngx-gallery-image.component.ts:36</a></div>
                            </td>
                        </tr>
            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="autoPlayInterval"></a>
                        <b>autoPlayInterval</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>    <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/number" target="_blank" >number</a></code>

                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Defined in <a href="" data-line="37" class="link-to-prism">src/ngx-gallery-image.component.ts:37</a></div>
                            </td>
                        </tr>
            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="autoPlayPauseOnHover"></a>
                        <b>autoPlayPauseOnHover</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>    <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/boolean" target="_blank" >boolean</a></code>

                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Defined in <a href="" data-line="38" class="link-to-prism">src/ngx-gallery-image.component.ts:38</a></div>
                            </td>
                        </tr>
            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="bullets"></a>
                        <b>bullets</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>    <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/boolean" target="_blank" >boolean</a></code>

                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Defined in <a href="" data-line="44" class="link-to-prism">src/ngx-gallery-image.component.ts:44</a></div>
                            </td>
                        </tr>
            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="clickable"></a>
                        <b>clickable</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>    <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/boolean" target="_blank" >boolean</a></code>

                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Defined in <a href="" data-line="27" class="link-to-prism">src/ngx-gallery-image.component.ts:27</a></div>
                            </td>
                        </tr>
            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="descriptions"></a>
                        <b>descriptions</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>    <code>string[]</code>

                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Defined in <a href="" data-line="42" class="link-to-prism">src/ngx-gallery-image.component.ts:42</a></div>
                            </td>
                        </tr>
            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="images"></a>
                        <b>images</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>    <code><a href="../classes/NgxGalleryOrderedImage.html" target="_self" >NgxGalleryOrderedImage[]</a></code>

                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Defined in <a href="" data-line="26" class="link-to-prism">src/ngx-gallery-image.component.ts:26</a></div>
                            </td>
                        </tr>
            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="infinityMove"></a>
                        <b>infinityMove</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>    <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/boolean" target="_blank" >boolean</a></code>

                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Defined in <a href="" data-line="39" class="link-to-prism">src/ngx-gallery-image.component.ts:39</a></div>
                            </td>
                        </tr>
            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="lazyLoading"></a>
                        <b>lazyLoading</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>    <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/boolean" target="_blank" >boolean</a></code>

                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Defined in <a href="" data-line="40" class="link-to-prism">src/ngx-gallery-image.component.ts:40</a></div>
                            </td>
                        </tr>
            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="selectedIndex"></a>
                        <b>selectedIndex</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>    <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/number" target="_blank" >number</a></code>

                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Defined in <a href="" data-line="28" class="link-to-prism">src/ngx-gallery-image.component.ts:28</a></div>
                            </td>
                        </tr>
            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="showDescription"></a>
                        <b>showDescription</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>    <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/boolean" target="_blank" >boolean</a></code>

                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Defined in <a href="" data-line="43" class="link-to-prism">src/ngx-gallery-image.component.ts:43</a></div>
                            </td>
                        </tr>
            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="size"></a>
                        <b>size</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>    <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/string" target="_blank" >string</a></code>

                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Defined in <a href="" data-line="33" class="link-to-prism">src/ngx-gallery-image.component.ts:33</a></div>
                            </td>
                        </tr>
            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="swipe"></a>
                        <b>swipe</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>    <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/boolean" target="_blank" >boolean</a></code>

                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Defined in <a href="" data-line="31" class="link-to-prism">src/ngx-gallery-image.component.ts:31</a></div>
                            </td>
                        </tr>
            </tbody>
        </table>
</section>
    <section>
    <h3 id="outputs">Outputs</h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="onActiveChange"></a>
                        <b>onActiveChange</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>    <code><a href="https://angular.io/api/core/EventEmitter" target="_blank" >EventEmitter</a></code>

                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Defined in <a href="" data-line="47" class="link-to-prism">src/ngx-gallery-image.component.ts:47</a></div>
                            </td>
                        </tr>
            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="onClick"></a>
                        <b>onClick</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>    <code><a href="https://angular.io/api/core/EventEmitter" target="_blank" >EventEmitter</a></code>

                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Defined in <a href="" data-line="46" class="link-to-prism">src/ngx-gallery-image.component.ts:46</a></div>
                            </td>
                        </tr>
            </tbody>
        </table>
</section>

    <section>
    <h3>HostListeners</h3>        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="mouseenter"></a>
                        <span class="name">
                            <b>
                            mouseenter
                            </b>
                            <a href="#mouseenter"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
<code>mouseenter()</code>
                    </td>
                </tr>


                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="72" class="link-to-prism">src/ngx-gallery-image.component.ts:72</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="mouseleave"></a>
                        <span class="name">
                            <b>
                            mouseleave
                            </b>
                            <a href="#mouseleave"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
<code>mouseleave()</code>
                    </td>
                </tr>


                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="82" class="link-to-prism">src/ngx-gallery-image.component.ts:82</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
</section>

    <section>
    
        <h3 id="methods">
            Methods
        </h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="canShowNext"></a>
                        <span class="name">
                            <b>
                            canShowNext
                            </b>
                            <a href="#canShowNext"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
<code>canShowNext()</code>
                    </td>
                </tr>


                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="201" class="link-to-prism">src/ngx-gallery-image.component.ts:201</a></div>
                            </td>
                        </tr>


                <tr>
                    <td class="col-md-4">

                            <div class="io-description">
                                <b>Returns : </b>    <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/boolean" target="_blank" >boolean</a></code>

                            </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="canShowPrev"></a>
                        <span class="name">
                            <b>
                            canShowPrev
                            </b>
                            <a href="#canShowPrev"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
<code>canShowPrev()</code>
                    </td>
                </tr>


                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="210" class="link-to-prism">src/ngx-gallery-image.component.ts:210</a></div>
                            </td>
                        </tr>


                <tr>
                    <td class="col-md-4">

                            <div class="io-description">
                                <b>Returns : </b>    <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/boolean" target="_blank" >boolean</a></code>

                            </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="getImages"></a>
                        <span class="name">
                            <b>
                            getImages
                            </b>
                            <a href="#getImages"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
<code>getImages()</code>
                    </td>
                </tr>


                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="96" class="link-to-prism">src/ngx-gallery-image.component.ts:96</a></div>
                            </td>
                        </tr>


                <tr>
                    <td class="col-md-4">

                            <div class="io-description">
                                <b>Returns : </b>    <code><a href="../classes/NgxGalleryOrderedImage.html" target="_self" >NgxGalleryOrderedImage[]</a></code>

                            </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="getSafeUrl"></a>
                        <span class="name">
                            <b>
                            getSafeUrl
                            </b>
                            <a href="#getSafeUrl"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
<code>getSafeUrl(image: <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/string" target="_blank">string</a>)</code>
                    </td>
                </tr>


                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="218" class="link-to-prism">src/ngx-gallery-image.component.ts:218</a></div>
                            </td>
                        </tr>


                <tr>
                    <td class="col-md-4">

                            <div class="io-description">
                                    <b>Parameters :</b>
                                    <table class="params">
                                        <thead>
                                            <tr>
                                                <td>Name</td>
                                                    <td>Type</td>
                                                <td>Optional</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                <tr>
                                                        <td>image</td>
                                                        <td>
                                                                    <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/string" target="_blank" >string</a></code>
                                                        </td>
                                                    
                                                    <td>
                                                            No
                                                    </td>
                                                    

                                                </tr>
                                        </tbody>
                                    </table>
                            </div>
                            <div>
                            </div>
                            <div class="io-description">
                                <b>Returns : </b>    <code><a href="https://angular.io/api/platform-browser/SafeStyle" target="_blank" >SafeStyle</a></code>

                            </div>
                                <div class="io-description">
                                    
                                </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="handleClick"></a>
                        <span class="name">
                            <b>
                            handleClick
                            </b>
                            <a href="#handleClick"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
<code>handleClick(event: <a href="https://angular.io/api/router/Event" target="_blank">Event</a>, index: <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/number" target="_blank">number</a>)</code>
                    </td>
                </tr>


                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="142" class="link-to-prism">src/ngx-gallery-image.component.ts:142</a></div>
                            </td>
                        </tr>


                <tr>
                    <td class="col-md-4">

                            <div class="io-description">
                                    <b>Parameters :</b>
                                    <table class="params">
                                        <thead>
                                            <tr>
                                                <td>Name</td>
                                                    <td>Type</td>
                                                <td>Optional</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                <tr>
                                                        <td>event</td>
                                                        <td>
                                                                    <code><a href="https://angular.io/api/router/Event" target="_blank" >Event</a></code>
                                                        </td>
                                                    
                                                    <td>
                                                            No
                                                    </td>
                                                    

                                                </tr>
                                                <tr>
                                                        <td>index</td>
                                                        <td>
                                                                    <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/number" target="_blank" >number</a></code>
                                                        </td>
                                                    
                                                    <td>
                                                            No
                                                    </td>
                                                    

                                                </tr>
                                        </tbody>
                                    </table>
                            </div>
                            <div>
                            </div>
                            <div class="io-description">
                                <b>Returns : </b>    <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                            </div>
                                <div class="io-description">
                                    
                                </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="ngOnChanges"></a>
                        <span class="name">
                            <b>
                            ngOnChanges
                            </b>
                            <a href="#ngOnChanges"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
<code>ngOnChanges(changes: <a href="https://angular.io/api/core/SimpleChanges" target="_blank">SimpleChanges</a>)</code>
                    </td>
                </tr>


                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="66" class="link-to-prism">src/ngx-gallery-image.component.ts:66</a></div>
                            </td>
                        </tr>


                <tr>
                    <td class="col-md-4">

                            <div class="io-description">
                                    <b>Parameters :</b>
                                    <table class="params">
                                        <thead>
                                            <tr>
                                                <td>Name</td>
                                                    <td>Type</td>
                                                <td>Optional</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                <tr>
                                                        <td>changes</td>
                                                        <td>
                                                                    <code><a href="https://angular.io/api/core/SimpleChanges" target="_blank" >SimpleChanges</a></code>
                                                        </td>
                                                    
                                                    <td>
                                                            No
                                                    </td>
                                                    

                                                </tr>
                                        </tbody>
                                    </table>
                            </div>
                            <div>
                            </div>
                            <div class="io-description">
                                <b>Returns : </b>    <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                            </div>
                                <div class="io-description">
                                    
                                </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="ngOnInit"></a>
                        <span class="name">
                            <b>
                            ngOnInit
                            </b>
                            <a href="#ngOnInit"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
<code>ngOnInit()</code>
                    </td>
                </tr>


                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="56" class="link-to-prism">src/ngx-gallery-image.component.ts:56</a></div>
                            </td>
                        </tr>


                <tr>
                    <td class="col-md-4">

                            <div class="io-description">
                                <b>Returns : </b>    <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                            </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="reset"></a>
                        <span class="name">
                            <b>
                            reset
                            </b>
                            <a href="#reset"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
<code>reset(index: <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/number" target="_blank">number</a>)</code>
                    </td>
                </tr>


                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="92" class="link-to-prism">src/ngx-gallery-image.component.ts:92</a></div>
                            </td>
                        </tr>


                <tr>
                    <td class="col-md-4">

                            <div class="io-description">
                                    <b>Parameters :</b>
                                    <table class="params">
                                        <thead>
                                            <tr>
                                                <td>Name</td>
                                                    <td>Type</td>
                                                <td>Optional</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                <tr>
                                                        <td>index</td>
                                                        <td>
                                                                    <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/number" target="_blank" >number</a></code>
                                                        </td>
                                                    
                                                    <td>
                                                            No
                                                    </td>
                                                    

                                                </tr>
                                        </tbody>
                                    </table>
                            </div>
                            <div>
                            </div>
                            <div class="io-description">
                                <b>Returns : </b>    <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                            </div>
                                <div class="io-description">
                                    
                                </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="setChangeTimeout"></a>
                        <span class="name">
                            <b>
                            setChangeTimeout
                            </b>
                            <a href="#setChangeTimeout"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
<code>setChangeTimeout()</code>
                    </td>
                </tr>


                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="187" class="link-to-prism">src/ngx-gallery-image.component.ts:187</a></div>
                            </td>
                        </tr>


                <tr>
                    <td class="col-md-4">

                            <div class="io-description">
                                <b>Returns : </b>    <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                            </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="show"></a>
                        <span class="name">
                            <b>
                            show
                            </b>
                            <a href="#show"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
<code>show(index: <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/number" target="_blank">number</a>)</code>
                    </td>
                </tr>


                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="151" class="link-to-prism">src/ngx-gallery-image.component.ts:151</a></div>
                            </td>
                        </tr>


                <tr>
                    <td class="col-md-4">

                            <div class="io-description">
                                    <b>Parameters :</b>
                                    <table class="params">
                                        <thead>
                                            <tr>
                                                <td>Name</td>
                                                    <td>Type</td>
                                                <td>Optional</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                <tr>
                                                        <td>index</td>
                                                        <td>
                                                                    <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/number" target="_blank" >number</a></code>
                                                        </td>
                                                    
                                                    <td>
                                                            No
                                                    </td>
                                                    

                                                </tr>
                                        </tbody>
                                    </table>
                            </div>
                            <div>
                            </div>
                            <div class="io-description">
                                <b>Returns : </b>    <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                            </div>
                                <div class="io-description">
                                    
                                </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="showNext"></a>
                        <span class="name">
                            <b>
                            showNext
                            </b>
                            <a href="#showNext"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
<code>showNext()</code>
                    </td>
                </tr>


                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="157" class="link-to-prism">src/ngx-gallery-image.component.ts:157</a></div>
                            </td>
                        </tr>


                <tr>
                    <td class="col-md-4">

                            <div class="io-description">
                                <b>Returns : </b>    <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/boolean" target="_blank" >boolean</a></code>

                            </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="showPrev"></a>
                        <span class="name">
                            <b>
                            showPrev
                            </b>
                            <a href="#showPrev"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
<code>showPrev()</code>
                    </td>
                </tr>


                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="174" class="link-to-prism">src/ngx-gallery-image.component.ts:174</a></div>
                            </td>
                        </tr>


                <tr>
                    <td class="col-md-4">

                            <div class="io-description">
                                <b>Returns : </b>    <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                            </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="startAutoPlay"></a>
                        <span class="name">
                            <b>
                            startAutoPlay
                            </b>
                            <a href="#startAutoPlay"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
<code>startAutoPlay()</code>
                    </td>
                </tr>


                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="125" class="link-to-prism">src/ngx-gallery-image.component.ts:125</a></div>
                            </td>
                        </tr>


                <tr>
                    <td class="col-md-4">

                            <div class="io-description">
                                <b>Returns : </b>    <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                            </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="stopAutoPlay"></a>
                        <span class="name">
                            <b>
                            stopAutoPlay
                            </b>
                            <a href="#stopAutoPlay"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
<code>stopAutoPlay()</code>
                    </td>
                </tr>


                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="136" class="link-to-prism">src/ngx-gallery-image.component.ts:136</a></div>
                            </td>
                        </tr>


                <tr>
                    <td class="col-md-4">

                            <div class="io-description">
                                <b>Returns : </b>    <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                            </div>
                    </td>
                </tr>
            </tbody>
        </table>
</section>

    <section>
    
        <h3 id="inputs">
            Properties
        </h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="canChangeImage"></a>
                        <span class="name">
                            <b>
                            canChangeImage</b>
                            <a href="#canChangeImage"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Default value : </i><code>true</code>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="49" class="link-to-prism">src/ngx-gallery-image.component.ts:49</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="timer"></a>
                        <span class="name">
                            <b>
                                <span class="modifier">Private</span>
                            timer</b>
                            <a href="#timer"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="51" class="link-to-prism">src/ngx-gallery-image.component.ts:51</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
</section>

</div>


    <div class="tab-pane fade  tab-source-code" id="c-source">
        <pre class="line-numbers compodoc-sourcecode"><code class="language-typescript">import { Component, Input, Output, EventEmitter, HostListener,  ElementRef, OnInit, OnChanges, SimpleChanges } from &#x27;@angular/core&#x27;;
import { DomSanitizer, SafeStyle } from &#x27;@angular/platform-browser&#x27;;

import { NgxGalleryHelperService } from &#x27;./ngx-gallery-helper.service&#x27;;
import { NgxGalleryOrderedImage } from &#x27;./ngx-gallery-ordered-image.model&#x27;;
import { NgxGalleryAnimation } from &#x27;./ngx-gallery-animation.model&#x27;;
import { NgxGalleryAction } from &#x27;./ngx-gallery-action.model&#x27;;

@Component({
    selector: &#x27;ngx-gallery-image&#x27;,
    template: &#x60;
        &lt;div class&#x3D;&quot;ngx-gallery-image-wrapper ngx-gallery-animation-{{animation}} ngx-gallery-image-size-{{size}}&quot;&gt;
            &lt;div class&#x3D;&quot;ngx-gallery-image&quot; *ngFor&#x3D;&quot;let image of getImages(); let i &#x3D; index;&quot; [ngClass]&#x3D;&quot;{ &#x27;ngx-gallery-active&#x27;: selectedIndex &#x3D;&#x3D; image.index, &#x27;ngx-gallery-inactive-left&#x27;: selectedIndex &gt; image.index, &#x27;ngx-gallery-inactive-right&#x27;: selectedIndex &lt; image.index, &#x27;ngx-gallery-clickable&#x27;: clickable }&quot; [style.background-image]&#x3D;&quot;getSafeUrl(image.src)&quot; (click)&#x3D;&quot;handleClick($event, image.index)&quot;&gt;
                &lt;div class&#x3D;&quot;ngx-gallery-icons-wrapper&quot;&gt;
                    &lt;ngx-gallery-action *ngFor&#x3D;&quot;let action of actions&quot; [icon]&#x3D;&quot;action.icon&quot; [disabled]&#x3D;&quot;action.disabled&quot; [titleText]&#x3D;&quot;action.titleText&quot; (onClick)&#x3D;&quot;action.onClick($event, image.index)&quot;&gt;&lt;/ngx-gallery-action&gt;
                &lt;/div&gt;
                &lt;div class&#x3D;&quot;ngx-gallery-image-text&quot; *ngIf&#x3D;&quot;showDescription &amp;&amp; descriptions[image.index]&quot; [innerHTML]&#x3D;&quot;descriptions[image.index]&quot; (click)&#x3D;&quot;$event.stopPropagation()&quot;&gt;&lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;ngx-gallery-bullets *ngIf&#x3D;&quot;bullets&quot; [count]&#x3D;&quot;images.length&quot; [active]&#x3D;&quot;selectedIndex&quot; (onChange)&#x3D;&quot;show($event)&quot;&gt;&lt;/ngx-gallery-bullets&gt;
        &lt;ngx-gallery-arrows class&#x3D;&quot;ngx-gallery-image-size-{{size}}&quot; *ngIf&#x3D;&quot;arrows&quot; (onPrevClick)&#x3D;&quot;showPrev()&quot; (onNextClick)&#x3D;&quot;showNext()&quot; [prevDisabled]&#x3D;&quot;!canShowPrev()&quot; [nextDisabled]&#x3D;&quot;!canShowNext()&quot; [arrowPrevIcon]&#x3D;&quot;arrowPrevIcon&quot; [arrowNextIcon]&#x3D;&quot;arrowNextIcon&quot;&gt;&lt;/ngx-gallery-arrows&gt;
    &#x60;,
    styleUrls: [&#x27;./ngx-gallery-image.component.scss&#x27;]
})
export class NgxGalleryImageComponent implements OnInit, OnChanges {
    @Input() images: NgxGalleryOrderedImage[];
    @Input() clickable: boolean;
    @Input() selectedIndex: number;
    @Input() arrows: boolean;
    @Input() arrowsAutoHide: boolean;
    @Input() swipe: boolean;
    @Input() animation: string;
    @Input() size: string;
    @Input() arrowPrevIcon: string;
    @Input() arrowNextIcon: string;
    @Input() autoPlay: boolean;
    @Input() autoPlayInterval: number;
    @Input() autoPlayPauseOnHover: boolean;
    @Input() infinityMove: boolean;
    @Input() lazyLoading: boolean;
    @Input() actions: NgxGalleryAction[];
    @Input() descriptions: string[];
    @Input() showDescription: boolean;
    @Input() bullets: boolean;

    @Output() onClick &#x3D; new EventEmitter();
    @Output() onActiveChange &#x3D; new EventEmitter();

    canChangeImage &#x3D; true;

    private timer;

    constructor(private sanitization: DomSanitizer,
        private elementRef: ElementRef, private helperService: NgxGalleryHelperService) {}

    ngOnInit(): void {
        if (this.arrows &amp;&amp; this.arrowsAutoHide) {
            this.arrows &#x3D; false;
        }

        if (this.autoPlay) {
            this.startAutoPlay();
        }
    }

    ngOnChanges(changes: SimpleChanges): void {
        if (changes[&#x27;swipe&#x27;]) {
            this.helperService.manageSwipe(this.swipe, this.elementRef, &#x27;image&#x27;, () &#x3D;&gt; this.showNext(), () &#x3D;&gt; this.showPrev());
        }
    }

    @HostListener(&#x27;mouseenter&#x27;) onMouseEnter() {
        if (this.arrowsAutoHide &amp;&amp; !this.arrows) {
            this.arrows &#x3D; true;
        }

        if (this.autoPlay &amp;&amp; this.autoPlayPauseOnHover) {
            this.stopAutoPlay();
        }
    }

    @HostListener(&#x27;mouseleave&#x27;) onMouseLeave() {
        if (this.arrowsAutoHide &amp;&amp; this.arrows) {
            this.arrows &#x3D; false;
        }

        if (this.autoPlay &amp;&amp; this.autoPlayPauseOnHover) {
            this.startAutoPlay();
        }
    }

    reset(index: number): void {
        this.selectedIndex &#x3D; index;
    }

    getImages(): NgxGalleryOrderedImage[] {
        if (!this.images) {
            return [];
        }

        if (this.lazyLoading) {
            let indexes &#x3D; [this.selectedIndex];
            let prevIndex &#x3D; this.selectedIndex - 1;

            if (prevIndex &#x3D;&#x3D;&#x3D; -1 &amp;&amp; this.infinityMove) {
                indexes.push(this.images.length - 1)
            } else if (prevIndex &gt;&#x3D; 0) {
                indexes.push(prevIndex);
            }

            let nextIndex &#x3D; this.selectedIndex + 1;

            if (nextIndex &#x3D;&#x3D; this.images.length &amp;&amp; this.infinityMove) {
                indexes.push(0);
            } else if (nextIndex &lt; this.images.length) {
                indexes.push(nextIndex);
            }

            return this.images.filter((img, i) &#x3D;&gt; indexes.indexOf(i) !&#x3D; -1);
        } else {
            return this.images;
        }
    }

    startAutoPlay(): void {
        this.stopAutoPlay();

        this.timer &#x3D; setInterval(() &#x3D;&gt; {
            if (!this.showNext()) {
                this.selectedIndex &#x3D; -1;
                this.showNext();
            }
        }, this.autoPlayInterval);
    }

    stopAutoPlay() {
        if (this.timer) {
            clearInterval(this.timer);
        }
    }

    handleClick(event: Event, index: number): void {
        if (this.clickable) {
            this.onClick.emit(index);

            event.stopPropagation();
            event.preventDefault();
        }
    }

    show(index: number) {
        this.selectedIndex &#x3D; index;
        this.onActiveChange.emit(this.selectedIndex);
        this.setChangeTimeout();
    }

    showNext(): boolean {
        if (this.canShowNext() &amp;&amp; this.canChangeImage) {
            this.selectedIndex++;

            if (this.selectedIndex &#x3D;&#x3D;&#x3D; this.images.length) {
                this.selectedIndex &#x3D; 0;
            }

            this.onActiveChange.emit(this.selectedIndex);
            this.setChangeTimeout();

            return true;
        } else {
            return false;
        }
    }

    showPrev(): void {
        if (this.canShowPrev() &amp;&amp; this.canChangeImage) {
            this.selectedIndex--;

            if (this.selectedIndex &lt; 0) {
                this.selectedIndex &#x3D; this.images.length - 1;
            }

            this.onActiveChange.emit(this.selectedIndex);
            this.setChangeTimeout();
        }
    }

    setChangeTimeout() {
        this.canChangeImage &#x3D; false;
        let timeout &#x3D; 1000;

        if (this.animation &#x3D;&#x3D;&#x3D; NgxGalleryAnimation.Slide
            || this.animation &#x3D;&#x3D;&#x3D; NgxGalleryAnimation.Fade) {
                timeout &#x3D; 500;
        }

        setTimeout(() &#x3D;&gt; {
            this.canChangeImage &#x3D; true;
        }, timeout);
    }

    canShowNext(): boolean {
        if (this.images) {
            return this.infinityMove || this.selectedIndex &lt; this.images.length - 1
                ? true : false;
        } else {
            return false;
        }
    }

    canShowPrev(): boolean {
        if (this.images) {
            return this.infinityMove || this.selectedIndex &gt; 0 ? true : false;
        } else {
            return false;
        }
    }

    getSafeUrl(image: string): SafeStyle {
        return this.sanitization.bypassSecurityTrustStyle(this.helperService.getBackgroundUrl(image));
    }
}
</code></pre>
    </div>


    <div class="tab-pane fade " id="c-styleData">
                <p class="comment">
                    <code>./ngx-gallery-image.component.scss</code>
                </p>
                <pre class="line-numbers"><code class="language-scss">:host {
    width: 100%;
    display: inline-block;
    position: relative;
}

.ngx-gallery-image-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
}

.ngx-gallery-image {
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;

    &amp;.ngx-gallery-active {
        z-index: 1000;
    }
}

.ngx-gallery-image-size-cover .ngx-gallery-image {
    background-size: cover;
}

.ngx-gallery-image-size-contain .ngx-gallery-image {
    background-size: contain;
}

.ngx-gallery-animation-fade {
    .ngx-gallery-image {
        left: 0px;
        opacity: 0;
        transition: 0.5s ease-in-out;

        &amp;.ngx-gallery-active {
            opacity: 1;
        }
    }
}

.ngx-gallery-animation-slide {
    .ngx-gallery-image {
        transition: 0.5s ease-in-out;

        &amp;.ngx-gallery-active {
            left: 0px;
        }

        &amp;.ngx-gallery-inactive-left {
            left: -100%;
        }

        &amp;.ngx-gallery-inactive-right {
            left: 100%;
        }
    }
}

.ngx-gallery-animation-rotate {
    .ngx-gallery-image {
        transition: 1s ease;
        transform: scale(3.5, 3.5) rotate(90deg);
        left: 0px;
        opacity: 0;

        &amp;.ngx-gallery-active {
            transform: scale(1, 1) rotate(0deg);
            opacity: 1;
        }
    }
}

.ngx-gallery-animation-zoom {
    .ngx-gallery-image {
        transition: 1s ease;
        transform: scale(2.5, 2.5);
        left: 0px;
        opacity: 0;

        &amp;.ngx-gallery-active {
            transform: scale(1, 1);
            opacity: 1;
        }
    }
}

.ngx-gallery-image-text {
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 16px;
    position: absolute;
    bottom: 0px;
    z-index: 10;
}
</code></pre>
    </div>

    <div class="tab-pane fade " id="c-tree">
        <div id="tree-container"></div>
        <div class="tree-legend">
            <div class="title">
                <b>Legend</b>
            </div>
            <div>
                <div class="color htmlelement"></div><span>Html element</span>
            </div>
            <div>
                <div class="color component"></div><span>Component</span>
            </div>
            <div>
                <div class="color directive"></div><span>Html element with directive</span>
            </div>
        </div>
    </div>

    
</div>

<script src="../js/libs/vis.min.js"></script>
<script src="../js/libs/htmlparser.js"></script>
<script src="../js/libs/deep-iterator.js"></script>
<script>
        var COMPONENT_TEMPLATE = '<div><div class="ngx-gallery-image-wrapper ngx-gallery-animation-{{animation}} ngx-gallery-image-size-{{size}}">    <div class="ngx-gallery-image" *ngFor="let image of getImages(); let i = index;" [ngClass]="{ \'ngx-gallery-active\': selectedIndex == image.index, \'ngx-gallery-inactive-left\': selectedIndex > image.index, \'ngx-gallery-inactive-right\': selectedIndex < image.index, \'ngx-gallery-clickable\': clickable }" [style.background-image]="getSafeUrl(image.src)" (click)="handleClick($event, image.index)">        <div class="ngx-gallery-icons-wrapper">            <ngx-gallery-action *ngFor="let action of actions" [icon]="action.icon" [disabled]="action.disabled" [titleText]="action.titleText" (onClick)="action.onClick($event, image.index)"></ngx-gallery-action>        </div>        <div class="ngx-gallery-image-text" *ngIf="showDescription && descriptions[image.index]" [innerHTML]="descriptions[image.index]" (click)="$event.stopPropagation()"></div>    </div></div><ngx-gallery-bullets *ngIf="bullets" [count]="images.length" [active]="selectedIndex" (onChange)="show($event)"></ngx-gallery-bullets><ngx-gallery-arrows class="ngx-gallery-image-size-{{size}}" *ngIf="arrows" (onPrevClick)="showPrev()" (onNextClick)="showNext()" [prevDisabled]="!canShowPrev()" [nextDisabled]="!canShowNext()" [arrowPrevIcon]="arrowPrevIcon" [arrowNextIcon]="arrowNextIcon"></ngx-gallery-arrows></div>'
    var COMPONENTS = [{'name': 'NgxGalleryActionComponent', 'selector': 'ngx-gallery-action'},{'name': 'NgxGalleryArrowsComponent', 'selector': 'ngx-gallery-arrows'},{'name': 'NgxGalleryBulletsComponent', 'selector': 'ngx-gallery-bullets'},{'name': 'NgxGalleryComponent', 'selector': 'ngx-gallery'},{'name': 'NgxGalleryImageComponent', 'selector': 'ngx-gallery-image'},{'name': 'NgxGalleryPreviewComponent', 'selector': 'ngx-gallery-preview'},{'name': 'NgxGalleryThumbnailsComponent', 'selector': 'ngx-gallery-thumbnails'}];
    var DIRECTIVES = [];
    var ACTUAL_COMPONENT = {'name': 'NgxGalleryImageComponent'};
</script>
<script src="../js/tree.js"></script>














                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> result-matching "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">No results matching "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
               <!-- END CONTENT -->
           </div>
       </div>

       <script>
            var COMPODOC_CURRENT_PAGE_DEPTH = 1;
            var COMPODOC_CURRENT_PAGE_CONTEXT = 'component';
            var COMPODOC_CURRENT_PAGE_URL = 'NgxGalleryImageComponent.html';
       </script>

       <script src="../js/libs/custom-elements.min.js"></script>
       <script src="../js/libs/lit-html.js"></script>
       <!-- Required to polyfill modern browsers as code is ES5 for IE... -->
       <script src="../js/libs/custom-elements-es5-adapter.js" charset="utf-8" defer></script>
       <script src="../js/menu-wc.js" defer></script>

       <script src="../js/libs/bootstrap-native.js"></script>

       <script src="../js/libs/es6-shim.min.js"></script>
       <script src="../js/libs/EventDispatcher.js"></script>
       <script src="../js/libs/promise.min.js"></script>
       <script src="../js/libs/zepto.min.js"></script>

       <script src="../js/compodoc.js"></script>

       <script src="../js/tabs.js"></script>
       <script src="../js/menu.js"></script>
       <script src="../js/libs/clipboard.min.js"></script>
       <script src="../js/libs/prism.js"></script>
       <script src="../js/sourceCode.js"></script>
          <script src="../js/search/search.js"></script>
          <script src="../js/search/lunr.min.js"></script>
          <script src="../js/search/search-lunr.js"></script>
          <script src="../js/search/search_index.js"></script>
       <script src="../js/lazy-load-graphs.js"></script>


    </body>
</html>
